#############################################################
#  network-id's list of codes  https://www.mcc-mnc.com/
#  network-id:  23103  - 4ka Slovakia
#############################################################
[connection]
id=netmobile
uuid=755d5082-e2e3-4691-873a-0669b27aaaa2
type=gsm
interface-name=cdc-wdm1
permissions=
timestamp=1547308598

[gsm]
apn=internet
home-only=true
network-id=23103
number=*99#

[serial]
baud=115200

[ipv4]
dns=8.8.8.8;8.8.4.4;1.1.1.1;
dns-search=
ignore-auto-dns=true
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=ignore
